[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CAMAN"]
	path = CAMAN
	url = https://github.com/cran/CAMAN
[submodule "mada"]
	path = mada
	url = https://github.com/cran/mada
